.loading {
    // position: absolute;
 
    margin: 0 auto;
    // padding: 0;
    width: 100%;
    height: 70px;
    // background-color: rgba(0, 0, 0, .5);
}

.loader {
    position: absolute;
    top: auto;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;

    .face {
        position: absolute;
        border: 2px solid transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // box-shadow: 0 0 10px rgba(0,0,0, 1);
        border-radius: 50%;
        border-left: 2px solid #46c5ff;
        border-bottom: 2px solid #46c5ff;
        border-top: 2px solid #46c5ff;
        animation: animate 1s linear infinite;

        // .circle {
        //     position: absolute;
        //     top: calc(50% - 1px);
        //     left: 50%;
        //     width: 50%;
        //     height: 2px;
        //     transform-origin: left;
            

        //     &:before {
        //         content: '';
        //         position: absolute;
        //         width: 10px;
        //         height: 10px;
        //         border-radius: 50%;
        //         background: #46c5ff;
        //         top: -27px;
        //         right: 13px;
        //     }
        // }
    }

}

.circle {
    transform: rotate(-45deg);

    &::before {
        background-color: #46c5ff;
        box-shadow: 0 0 20px #46c5ff
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}