.mobileBack{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#3A7AFE;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}

.message{
    text-align:center;
}

.textDesc{
    width:300px;
    line-height:24px;
    margin: 0 auto 20px auto;
    text-transform:uppercase;
}

.googlePlayLink{
    width:170px;
    height:80px;
}

.appStoreLink{
    width:170px;
    height:55px;
}

.download{
    font-weight:600;
}
