.info__page {
    padding: 10px 20px;
    background-color: #f8f9fe;
    min-height: calc(100vh - 75px);

    .header{
    display: flex;
    justify-content: space-between;
    align-items: center;

        .head__btn {
            display: flex;

            button {
                background-color: #fff;
                border-color: #ced4da;

                @media (min-width: 1601px) and (max-width: 4096px) {
                    height: 35px;
                    font-size: 16px;
                }
            }
            
            .filtr_button{
                position: relative;
                margin-right: 8px;

                .dropdown_menu{
                    width: max-content;
                    position: absolute;
                    z-index: 5;
                    padding: 8px 0;
                    background-color: #fff;
                    border-radius: 5px;
                    top: 104%;
                    right: 70%;
                    transform: translate(55%, 0);
                    border: 1px solid rgba(0,0,0,.15);
                    border-bottom: 1px !important;
                    .drop__items {
                        padding: 4px;
                        cursor: pointer;
                        white-space: nowrap;

                        label {
                            width: 100%;
                            cursor: pointer;
                            margin: 0;
                            padding: 0px 5px;
                            margin-left: 40px;
                        }

                        &:hover {
                            color: #3A7AFE;
                        }
                    }

                    @media (max-width: 480px) {
                        top: 85%;
                        left: -30% !important;
                    }
                }  
                
                .dropdown_menu_datas {
                    min-width: auto !important;
                    height: 350px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            }

            .export__btn {
                position: relative;
                white-space: nowrap;

                .export__drop {
                    position: absolute;
                    padding: .8rem 1rem;
                    top: 104%;
                    right: 0;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: 5px;
                    box-shadow: 0 0 20px #ddd;
                    background-color: #fff;
                    z-index: 5;

                    div {
                        margin-bottom: 8px;
                        cursor: pointer;

                        i {
                            margin: 0 8px;
                        }
                        
                        button {
                            width: 100%;
                            text-align: left;
                            color: #000;
                            background-color: transparent;
                            border: 0;
                            
                            margin-left: 5px;
                                                        
                            &:hover {
                                color: #3A7AFE;
                            }
                        }


                        &:hover {
                            color: #3A7AFE;
                            button {
                                color: #3A7AFE;
                            }
                        }
                    }

                    
                }
            }

            @media (max-width: 990px) {
                margin-bottom: 8px;
            }

            @media (max-width: 480px) {
                flex-wrap: wrap;
                button {
                    margin-bottom: 8px !important;
                    padding: .5rem !important;
                }
                select {
                    margin-bottom: 8px;
                }
            }
        
        }

        @media (max-width: 990px) {
            flex-wrap: wrap;
        }
    
    }

    select {
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-right: 8px;
        cursor: pointer;
    }

    .table__main {
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 10px #ced4da;

        .table__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .table{
            position: relative;
            margin: 20px 0;
            border: 1px solid #dee2e6 !important;
            border-radius: 5px;
            background-color: #fff;

            thead {
                tr {
                    &:first-child{
                        background-color: #fff;
                    }

                    th {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }

            .column__header {
                span {
                    display: flex;
                    align-items: center;
                }
            }

            .allPrice__th {
                border-top: 0;
                border-right: 0;
                border-left: 0;
                padding: .1rem;
                color: #008000;
                background-color: #FFFFCC !important;

                &:first-child, &:last-child {
                    border-right: 1px solid #FFFFCC !important;
                    border-left: 1px solid #FFFFCC !important;
                }
            }

            tr {
                width: 100%;


                &:hover {
                    background-color: #e9fdff;
                }

                

                th{ 
                    text-align: center;
                    vertical-align: baseline;
                    white-space: nowrap;
                    border-bottom: 0 ;
                    background-color: #fff !important;
                    
                    input{
                        border-radius: 5px ;
                        border: none;
                        background: #fff;
                    }
                    i {
                        margin-left: 10px;
                    }

                    &:first-child {
                        border: 0 !important;
                        
                        i {
                            margin-left: 4px !important;
                        }
                    }
                }
                td{
                    padding: .5rem .8rem;
                    white-space: nowrap;
                    cursor: default;
                    &:hover{
                        background-color: #ffffff69;
                    }
                    &.action{
                        min-width: 200px;
                        button{
                            margin: 0 10px;
                            padding: 3px 5px !important;
                        }
                    }   
                    &:first-child {
                        width: 45px;
                    }             
                }

                
            }

            // ::-webkit-scrollbar {
            //     position: absolute;
            //     top: 0 !important;
            // }
        }

        .footer_pagination{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px;
            text-align: center;

            button,select{
                margin-right: 8px;
                padding: 2px 5px;
                font-size: 16px;
                border: 1px solid #3A7AFE;
                border-radius: 5px;
                background-color: #3A7AFE;
                color: #fff;
                font-weight: 400;
                transition: all .2s ease;
                cursor: pointer;
                opacity: .85;
                
                &.disabled{
                    background-color: transparent;
                    color: #999;
                    cursor: unset;
                    border: 1px solid #aaa;

                    &:hover {
                        opacity: .85;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }

            .pagin__start, .pagin__end {
                border-radius: 50%;
                padding: 1px 8px 1px 6px;
            }
            .pagin__end {
                padding: 1px 6px 1px 7px;
            }
        }

        

    }

  .analyze_change_block {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    width: 100%;
    height: 100vh;
    transition: all .5s ease;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
  }  

  .analyze__form {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    transition: all .3s ease;
    transform: translateX(-1px);

    .dates_container__input {
        width: 170px;
    }
  }

  .hide_analyze__form {
        transform: translateX(485px) !important;
    //   right: -485px;
  }

  .show_analyze__form {
    transform: translateX(0px) !important;
  }
}

.title__p {
    margin: 0;
    margin-left: 8px;
    font-size: 13px;

    span {
        margin: 0;
        font-size: 15px;
    }

    @media (min-width: 1601px) and (max-width: 4096px) {
        font-size: 16px;
    }
}

.form__select {
    display: flex;
    height: 35px;
    align-items: center;
    margin: 0;
    margin-right: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    overflow: hidden;

    label {
        margin: 0;
        padding: 7px;
        padding-right: 10px;
        background-color: #fff;
    }

    select {
        width: fit-content;
        margin: 0;
        padding-left: 5px;
        border-radius: 0;
        border: 0;
        border-left: 1px solid #ced4da;
        cursor: pointer;

        &:first-child {
            padding-right: 30px;
        }
    }
}


.price__th {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.drop__data{
    position: absolute;
    right: 0;
    height: auto;
    padding: 10px;
    background-color: #eee;
    z-index: 1;
    div{
        margin-top: 10px;
        
        input[type='date']{
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}
@media print{
    .removeOnPrint{
        display:none;
    }

    body{
        padding:10px;
    }
}

.dates_container {
    display: flex;
    align-items: baseline;
    i {
        cursor: pointer;
        color: #6c757d;

        &:hover {
            color: #666;
        }
    }
}

.btn__white {
    color: #007bff !important;
    background-color: #fff !important;
    border-color: #007bff !important;
    &:hover {
        color: #0a58ca !important;
        border-color: #0a58ca !important;
    }
}

.red{
    color: red;
    margin-right: 10px;
}
.green{
    color: green;
    margin-right: 10px;
}
.blue{
    color: blue;
    margin-right: 10px;
}